.layout-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  gap: 80px;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.data-container,
.Searchbarcontainer {
  display: flex;
  gap: 80px;
  align-items: center;
}
.button {
  height: 40px;
  width: 200px;
}
