form {
  box-shadow: 2px 2px 5px 4px;
  border-radius: 2px solid black;
  background-color: white;
  color: black;
  font: 18px bold;
  padding: 40px 20px;
  -webkit-border-radius: 2px solid black;
  -moz-border-radius: 2px solid black;
  -ms-border-radius: 2px solid black;
  -o-border-radius: 2px solid black;
}
