.container {
  width: 500px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-color: bisque;
  border: 5px solid white;
}

.submitButton {
  width: 100px;
  padding: 10px;
  background-color: green;
  color: white;
  font-weight: bold;
  font-size: 18px;
  height: 40px;
}
